**/*
!make_tier_maps.py
!scrape_leagues_teams.py
!fetch_addresses.py
!geocode_addresses.py
!download_boundaries.py
!utils.py
!geocoded_teams/
!geocoded_teams/*
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!README.md
!tier_maps/
!tier_maps/index.html
